.animWrap {
    pointer-events: none;
}

.loadAnim {
    position: relative;
    animation: loading infinite 1s ease-in-out;
}

.loadAnim:after, .loadAnim:before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 45px;
}

.loadAnim:after {
    right: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 85%);
}

.loadAnim:before {
    left: 0;
    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1) 85%);
}

@keyframes loading {
    0% {
        margin-left: -160px;
    }
    100% {
        margin-left: 100%;
    }
}