@use 'wrenchIcons.scss';
@use 'ui.scss';
@use '../../shared/preflight.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

#dnd-action-dragged-el {
    outline: none;
}

:root {
    --text: black;
    --bg-primary: white;
    --bg-secondary: white;
}