@use 'wrenchIcons.scss';
@use 'ui.scss';
@use 'preflight.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: black;
    --bg-primary: white;
    --bg-secondary: white;
}