---
import '../lib/app.css'
---

<html lang="en" class="h-full dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/Gimloader/icon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Install | Gimloader</title>
	</head>
	<body class="h-full">
		<slot />
	</body>
</html>
